.app{
    display: flex;
    /* By default, flex comes as horizontal, we can make it vertical by flex direction */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
}

/* Styling searchbar */
.app_searchform{
    margin-top: 18px
}

/* search button */
.app_input{
    padding: 6px 16px;
    min-width: 200px;
    max-width: 100vw;
}

.app_submit{
    /* Search box and button are same size */
    padding: 6px 16px;
    font-size: 15px;
    /* To add some space between 2 */
    margin-left: 5px;
    /* BG - blue, with 4px border and white text color */
    background-color: #02aff0;
    border: 2px solid #0fb3ee;
    border-radius: 4px;
    color: white;
}

.app_submit:hover{
    /* Search box and button are same size */
    padding: 6px 16px;
    font-size: 15px;
    /* To add some space between 2 */
    margin-left: 5px;
    /* BG - blue, with 4px border and white text color */
    background-color: #ffffff;
    border: 2px solid #0fb3ee;
    border-radius: 4px;
    color: #0fb3ee;
    cursor: pointer;

}

/* //To make grid */
.app_recipies{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 230px 230px;
    /* To align items for a same line */
    align-items: baseline;
}

/* User preference menu */
.app_healthLabels{
    padding: 7px 8px;
    /* To add some space between search button and menu */
    margin-left:  6px;
    border-radius: 4px;


}
