@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');


body{
    margin: 0;
    font-family: "Poppins", Georgia, 'Times New Roman', Times, serif;
}
*{
    margin: 0px;
    padding: 0px;
}